*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.ct1{
    border: 2px solid black;
    background-clip: content-box;
    padding: 10px;
    color: rgb(190, 188, 203);
    margin: 50px;
    width: 60%;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #4D8076;
    border-radius: 10px;
}
.ct1 h1{
    background-color: #17201e;
    margin-bottom: 10px;
}
.cat img{
    width: 100%;
}
.lines{
    color: black;
    padding: 10px;
    margin: 10px;
}
.lines ul li{
    display: flex;
    justify-content: space-between;
    padding: 3px;
}
.p{
    text-align: center;
    color: azure;
    font-family: 'Times New Roman', Times, serif;
}
